{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        cider/cider-nrepl {:mvn/version "0.28.5"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}

        cheshire/cheshire {:mvn/version "5.11.0"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
        enlive/enlive {:mvn/version "1.1.6"}

        compojure/compojure {:mvn/version "1.5.1"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :exec-fn cognitect.test-runner.api/test}}}
