{:subs
 {:sources
  {:nitter
   {:channels
    {"adamschefter" {:tags #{:football}}}}
   :nbcsports
   {:color "#ffcce1"
    :channels
    {"NFL Headlines"
     {:tags #{:football}}}}
   :invidious
   {:color "#faffc7"
    :channels
    {"The QB School"
     {:invidious/channel-id "UCGfxHp2yuimtLsFaq1r7aIQ"
      :tags #{:football}}}}}}
 :tags
 {:football {:emoji "\uD83C\uDFC8"}}}
