body {
  font-family: monospace;
}

.item {
  background: #ddd;
  padding: 6px;
  margin: 6px 0 6px 0;
}

.item a {
  word-break: break-all;
}

.item.unseen {
  border: 0.25em solid rgba(0,0,0, 0.5);
}

.item-footer {
  padding: 0.75em 0 0.5em 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  border-bottom: 2px dashed #333;
  margin-bottom: 0.5em;
}

.page-header > div {
  flex-basis: 33%;
}

.separator {
  height: 2px;
  border-top: 2px dashed #333;
  margin: 0.5em 0 0.5em 0;
}

a.emoji-link {
  text-decoration: none;
}

.update-form {
  display: inline;
}

.update-form button {
  all: unset;
  display: inline;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(0, 0, 238);
}

.dumpor-img {
  max-width: 100%;
}
